*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.nav-item a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
    font-family: 'Montserrat', sans-serif;
}
.nav-item a:hover {
    color: rgb(20, 219, 20);
}
.navbar-brand {
    height: 50px;
    width: 100px;
}
.search {
    height: 45px;
    outline: none;
    border: 2px solid rgb(20, 219, 20);
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}
.btn1 {
    height: 45px;
    outline: none;
    border: none; 
    background-color: rgb(20, 219, 20);
    color: #fff;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4s;
}
.btn1:hover {
    background-color: rgb(19, 160, 19);
}
.bi-bag-check {
    font-size: 30px;
    color: #000;
    cursor: pointer;
    padding-top: 5px;
    transition: all 0.4s;
}
.bi-bag-check:hover {
    color: rgb(20, 219, 20);
}
.navbar-toggler {
    font-size: 23px;
    color: #000;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
/* main section */
.main {
    background: url(img/m1.jpg)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.main h1 {
    font-size: 5rem;
    font-family: 'Righteous', cursive;
}
.main p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: #a3a1a1;
    /* padding-top: 100px; */
}
.main p:nth-child(2) {
    font-size: 18px;
    color: #808080;
}
.mbtn1 {
    height: 50px;
    width: 25%;
    outline: none;
    border: none;
    color: #fff;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn1:hover {
    background-color: rgb(19, 160, 19);
}
.mbtn2 {
    height: 50px;
    width: 20%;
    outline: none;
    background-color: transparent;
    color: rgb(20, 219, 20);
    border: 1px solid rgb(20, 219, 20);
    border-radius: 50px;
    transition: all 0.4s;
}
.mbtn2:hover {
    background-color: rgb(20, 219, 20);
    border: none;
    color: #fff;
}
.line {
    height: 6px;
    width: 30%;
    background: rgb(20, 219, 20);
    display: inline-block;
}
/* ======== */
/* about */
.about {
    background: url(./img/abt2.avif)no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.about h1 {
    font-size: 3rem;
    font-weight: bold;
}
.about p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: #a3a1a1;
    /* padding-top: 100px; */
}
.about p:nth-child(2) {
    font-size: 18px;
    color: #808080;
}
/* =========welcome========= */
.welcome {
    background: rgb(20, 219, 20);
}
.line2 {
    height: 6px;
    width: 30%;
    background: #fff;
    display: inline-block;
}
.welcome h1 {
    font-size: 3rem;
    font-weight: bold;
}
.welcome .card {
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.welcome i {
    font-size: 45px;
    color: rgb(20, 219, 20);
}
.welcome h2 {

    font-weight: lighter;
    padding: 10px 0px;
}
/* ========product======== */
.product h1 {
    font-size: 3rem;
    font-weight: bold;
}
.product p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: #a3a1a1;
    padding-top: 100px;
}
.product p:nth-child(2) {
    font-size: 18px;
    color: #808080;
}
.star {
    text-align: end;
    color: orange;
}
.product .card{
    border: none;
    border-radius: 0;
    cursor: pointer;
}
.product .card-body{
    border: 1px dashed rgb(190, 185, 185);
}
.head1 {
    font-weight: 400;
    margin: 0;
}
.per1 {
    color: rgb(168, 162, 162);
}
.btnc {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(20, 219, 20);
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    transition: all 0.4s;
}
.btnc:hover {
    outline: none;
    border: 1px solid rgb(20, 219, 20);
    color: rgb(20, 219, 20);
    background: transparent;
    border-radius: 50px;
}
/* ======discount====== */
.discount {
    background: rgb(20, 219, 20);
    color: #fff;
}
.dbtn {
    height: 50px;
    width: 75%;
    outline: none;
    border: none;
    color: #000;
    background: #fff;
    border-radius: 50px;
    margin: 0 auto;
    display: block;
    font-weight: lighter;
    transition: all 0.4s;
}
.dbtn:hover {
    background-color: rgb(228, 228, 228);
}
/* =============store======== */
.store h1 {
    font-size: 3rem;
    font-weight: bold;
}
.store p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
    color: #a3a1a1;
}
.store p:nth-child(2) {
    font-size: 18px;
    color: #808080;
}
.store i {
    font-size: 45px;
}
.store .card {
    border-radius: 0;
    border: none;
    transition: all 0.4s;
    cursor: pointer;
}
.store .card:hover {
    background-color: rgb(20, 219, 20);
    color: #fff;
}
.store .card:hover .per1{
    color: #fff;
}
/* ===========seller======= */
.seller h1 {
    font-size: 3rem;
    font-weight: bold;
}
.seller i{
    color: orange;
}
.seller .card {
    border-radius: none;
    border: none;
}
/* ========contact */
.contact {
    background: url(./img/lady.png)no-repeat rgb(20, 219, 20);
    background-size: cover;
    width: 100%;
}
.contact h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}
.contact p{
    color: #fff;
}